<a href="https://colab.research.google.com/github/davidclizbe/datascience/blob/master/Clizbe_Deep_Learning_Day_4_Afternoon_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Recurrent Neural Networks

In this assignment, we will learn about recurrent neural networks. We will create an RNN and learn to classify text data.

In [ ]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
yelp = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/yelp_labeled.csv', error_bad_lines=False)

b'Skipping line 281: expected 2 fields, saw 3\nSkipping line 290: expected 2 fields, saw 3\nSkipping line 296: expected 2 fields, saw 3\nSkipping line 322: expected 2 fields, saw 3\nSkipping line 373: expected 2 fields, saw 3\nSkipping line 417: expected 2 fields, saw 3\nSkipping line 427: expected 2 fields, saw 3\nSkipping line 429: expected 2 fields, saw 3\nSkipping line 577: expected 2 fields, saw 3\nSkipping line 578: expected 2 fields, saw 3\nSkipping line 611: expected 2 fields, saw 3\nSkipping line 677: expected 2 fields, saw 3\nSkipping line 771: expected 2 fields, saw 3\nSkipping line 930: expected 2 fields, saw 3\nSkipping line 979: expected 2 fields, saw 4\nSkipping line 980: expected 2 fields, saw 3\n'

In [ ]:
yelp.head()

                                                text  sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [ ]:
yelp.sentiment.value_counts()

1    494
0    482
Name: sentiment, dtype: int64

We have loaded a Yelp review dataset above. A positive sentiment is classified as 1 and a negative sentiment is classified as 0.

In [ ]:
from nltk.corpus import stopwords
import re
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()

def remove_stopwords(input_text):
        stopwords_list = stopwords.words('english')
        # Some words which might indicate a certain sentiment are kept via a whitelist
        whitelist = ["n't", "not", "no"]
        words = input_text.split() 
        clean_words = [word for word in words if (word not in stopwords_list or word in whitelist) and len(word) > 1] 
        return " ".join(clean_words)       

def stem_list(word_list):
    stemmed = []
    for word in word_list:
        stemmedword = stemmer.stem(word)
        stemmed.append(stemmedword)
    return stemmed

def normalize(terms):
    terms = terms.lower()
    terms = remove_stopwords(terms)
    word_delimiters = u'[\\[\\]\n.!?,;:\t\\-\\"\\(\\)\\\'\u2019\u2013 ]'
    term_list = re.split(word_delimiters, terms)
    trimmed = [x.rstrip() for x in term_list]
    stemmed = stem_list(trimmed)
    space = ' '
    normed = space.join(stemmed)
    normed = normed.replace('  ', ' ')
    return normed

In the code block above, we have functions to remove stopwords, stem, and normalize the text (remove special characters and trim white space). Apply the normalize function to every yelp review and assign the normalized text to a new column.

In [ ]:
# Answer below:
yelp['text_norm'] = yelp['text'].apply(normalize)
yelp.head()

                                                text  ...                                          text_norm
0                           Wow... Loved this place.  ...                                   wow  love place
1                                 Crust is not good.  ...                                    crust not good
2          Not tasty and the texture was just nasty.  ...                            not tasti textur nasti
3  Stopped by during the late May bank holiday of...  ...  stop late may bank holiday rick steve recommen...
4  The selection on the menu was great and so wer...  ...                           select menu great price

[5 rows x 3 columns]

Next, use the one hot function for text encoding and encode the normalized text. Determine the vocabulary size to perform the encoding.

In [ ]:
# Answer below:
from tensorflow.keras.preprocessing.text import one_hot

vocab_size = len(set(yelp['text_norm'].apply(lambda x: x.strip().split(' ')).sum()))
yelp['encoded'] = yelp['text_norm'].apply(one_hot, args=[vocab_size])

In [ ]:
yelp.head()

                                                text  ...                                            encoded
0                           Wow... Loved this place.  ...                                    [333, 1327, 70]
1                                 Crust is not good.  ...                                    [832, 779, 405]
2          Not tasty and the texture was just nasty.  ...                              [779, 349, 338, 1428]
3  Stopped by during the late May bank holiday of...  ...  [923, 1588, 211, 561, 616, 126, 238, 882, 1327...
4  The selection on the menu was great and so wer...  ...                              [851, 1019, 962, 931]

[5 rows x 4 columns]

Convert the encoded sequences into a numpy array and make sure all reviews are the same length using the `pad_sequences` function in Keras.

In [ ]:
# Answer below:
from tensorflow.keras.preprocessing.sequence import pad_sequences

ind_vars = pad_sequences(yelp['encoded'])
ind_vars

array([[   0,    0,    0, ...,  333, 1327,   70],
       [   0,    0,    0, ...,  832,  779,  405],
       [   0,    0,    0, ...,  349,  338, 1428],
       ...,
       [   0,    0,    0, ...,  779, 1005,  660],
       [   0,    0,    0, ...,  953, 1141,  359],
       [   0,    0,    0, ...,  642, 1235,  551]], dtype=int32)

In [ ]:
ind_vars.shape

(976, 83)

Split the data into train and test. Use 20% for test. The sentiment column should be used as the target variable.

In [ ]:
# Answer below:
from sklearn.model_selection import train_test_split

target = yelp['sentiment']
X_train, X_test, y_train, y_test = train_test_split(ind_vars, target, test_size=0.2, random_state=21)

Create a sequential model. The model should contain an embedding layer with input dim that is the size of the largest encoding in the vocabulary. The output dim should be 100, the input length is the number of columns in the training data. 
After the embedding layer, add a SimpleRNN layer with unit size 32, a dense layer of size 8 and a dense output layer.

In [ ]:
X_train.shape

(780, 83)

In [ ]:
# Answer below:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, SimpleRNN

max_words = np.max(X_train)+1
max_len = X_train.shape[1]

model = Sequential()
model.add(Embedding(max_words, 100, input_length=max_len))
model.add(SimpleRNN(32, activation="relu"))
model.add(Dense(8, activation="relu"))
model.add(Dense(1, activation="sigmoid"))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 83, 100)           162900
_________________________________________________________________
simple_rnn (SimpleRNN)       (None, 32)                4256
_________________________________________________________________
dense (Dense)                (None, 8)                 264
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 9
=================================================================
Total params: 167,429
Trainable params: 167,429
Non-trainable params: 0
_________________________________________________________________

Compile using the optimizer of your choice, use crossentropy for your loss function. Fit the model using a batch size of 128 and 50 epochs

In [ ]:
# Answer below:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

epochs = 50
batch_size = 128

model.fit(X_train, y_train, validation_data=(X_test, y_test),
          batch_size=batch_size, epochs=epochs)

Epoch 1/50
7/7 [==============================] - 0s 65ms/step - loss: 0.6934 - accuracy: 0.5026 - val_loss: 0.6929 - val_accuracy: 0.5408
Epoch 2/50
7/7 [==============================] - 0s 32ms/step - loss: 0.6851 - accuracy: 0.7038 - val_loss: 0.6917 - val_accuracy: 0.5255
Epoch 3/50
7/7 [==============================] - 0s 30ms/step - loss: 0.6773 - accuracy: 0.7500 - val_loss: 0.6892 - val_accuracy: 0.5357
Epoch 4/50
7/7 [==============================] - 0s 31ms/step - loss: 0.6664 - accuracy: 0.8000 - val_loss: 0.6866 - val_accuracy: 0.5714
Epoch 5/50
7/7 [==============================] - 0s 34ms/step - loss: 0.6523 - accuracy: 0.8577 - val_loss: 0.6830 - val_accuracy: 0.5765
Epoch 6/50
7/7 [==============================] - 0s 32ms/step - loss: 0.6323 - accuracy: 0.9090 - val_loss: 0.6784 - val_accuracy: 0.5867
Epoch 7/50
7/7 [==============================] - 0s 33ms/step - loss: 0.6023 - accuracy: 0.9256 - val_loss: 0.6685 - val_accuracy: 0.5969
Epoch 8/50
7/7 [==============================] - 0s 30ms/step - loss: 0.5578 - accuracy: 0.9269 - val_loss: 0.6560 - val_accuracy: 0.6071
Epoch 9/50
7/7 [==============================] - 0s 33ms/step - loss: 0.4931 - accuracy: 0.9449 - val_loss: 0.6421 - val_accuracy: 0.5867
Epoch 10/50
7/7 [==============================] - 0s 32ms/step - loss: 0.4137 - accuracy: 0.9474 - val_loss: 0.6266 - val_accuracy: 0.6582
Epoch 11/50
7/7 [==============================] - 0s 31ms/step - loss: 0.3231 - accuracy: 0.9603 - val_loss: 0.6023 - val_accuracy: 0.6633
Epoch 12/50
7/7 [==============================] - 0s 30ms/step - loss: 0.2438 - accuracy: 0.9679 - val_loss: 0.5988 - val_accuracy: 0.6888
Epoch 13/50
7/7 [==============================] - 0s 39ms/step - loss: 0.2010 - accuracy: 0.9705 - val_loss: 0.5907 - val_accuracy: 0.7041
Epoch 14/50
7/7 [==============================] - 0s 39ms/step - loss: 0.1394 - accuracy: 0.9808 - val_loss: 0.6054 - val_accuracy: 0.7194
Epoch 15/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0862 - accuracy: 0.9859 - val_loss: 0.6839 - val_accuracy: 0.7194
Epoch 16/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0587 - accuracy: 0.9872 - val_loss: 0.7997 - val_accuracy: 0.6939
Epoch 17/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0452 - accuracy: 0.9923 - val_loss: 0.6913 - val_accuracy: 0.7500
Epoch 18/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0320 - accuracy: 0.9949 - val_loss: 0.8169 - val_accuracy: 0.7092
Epoch 19/50
7/7 [==============================] - 0s 33ms/step - loss: 0.0261 - accuracy: 0.9936 - val_loss: 0.7785 - val_accuracy: 0.7245
Epoch 20/50
7/7 [==============================] - 0s 30ms/step - loss: 0.0202 - accuracy: 0.9962 - val_loss: 1.0289 - val_accuracy: 0.6837
Epoch 21/50
7/7 [==============================] - 0s 30ms/step - loss: 0.0276 - accuracy: 0.9962 - val_loss: 0.6756 - val_accuracy: 0.7602
Epoch 22/50
7/7 [==============================] - 0s 30ms/step - loss: 0.0231 - accuracy: 0.9962 - val_loss: 0.7253 - val_accuracy: 0.7296
Epoch 23/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0221 - accuracy: 0.9962 - val_loss: 0.7069 - val_accuracy: 0.7500
Epoch 24/50
7/7 [==============================] - 0s 30ms/step - loss: 0.0185 - accuracy: 0.9974 - val_loss: 0.8475 - val_accuracy: 0.7398
Epoch 25/50
7/7 [==============================] - 0s 30ms/step - loss: 0.0168 - accuracy: 0.9962 - val_loss: 0.8063 - val_accuracy: 0.7653
Epoch 26/50
7/7 [==============================] - 0s 32ms/step - loss: 0.0142 - accuracy: 0.9962 - val_loss: 0.7902 - val_accuracy: 0.7551
Epoch 27/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0123 - accuracy: 0.9974 - val_loss: 0.8528 - val_accuracy: 0.7449
Epoch 28/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0118 - accuracy: 0.9974 - val_loss: 0.8770 - val_accuracy: 0.7500
Epoch 29/50
7/7 [==============================] - 0s 29ms/step - loss: 0.0106 - accuracy: 0.9974 - val_loss: 1.0286 - val_accuracy: 0.7296
Epoch 30/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0094 - accuracy: 0.9974 - val_loss: 0.9167 - val_accuracy: 0.7500
Epoch 31/50
7/7 [==============================] - 0s 33ms/step - loss: 0.0092 - accuracy: 0.9974 - val_loss: 1.0534 - val_accuracy: 0.7194
Epoch 32/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0101 - accuracy: 0.9974 - val_loss: 0.8892 - val_accuracy: 0.7602
Epoch 33/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0104 - accuracy: 0.9974 - val_loss: 0.8862 - val_accuracy: 0.7194
Epoch 34/50
7/7 [==============================] - 0s 35ms/step - loss: 0.0404 - accuracy: 0.9949 - val_loss: 1.3533 - val_accuracy: 0.6735
Epoch 35/50
7/7 [==============================] - 0s 32ms/step - loss: 0.1891 - accuracy: 0.9282 - val_loss: 0.8162 - val_accuracy: 0.7143
Epoch 36/50
7/7 [==============================] - 0s 30ms/step - loss: 0.0765 - accuracy: 0.9910 - val_loss: 0.7153 - val_accuracy: 0.7092
Epoch 37/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0737 - accuracy: 0.9923 - val_loss: 0.7175 - val_accuracy: 0.6990
Epoch 38/50
7/7 [==============================] - 0s 32ms/step - loss: 0.0689 - accuracy: 0.9885 - val_loss: 0.7370 - val_accuracy: 0.6888
Epoch 39/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0557 - accuracy: 0.9897 - val_loss: 0.7581 - val_accuracy: 0.6939
Epoch 40/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0436 - accuracy: 0.9897 - val_loss: 0.7838 - val_accuracy: 0.6888
Epoch 41/50
7/7 [==============================] - 0s 32ms/step - loss: 0.0358 - accuracy: 0.9923 - val_loss: 0.8095 - val_accuracy: 0.6939
Epoch 42/50
7/7 [==============================] - 0s 30ms/step - loss: 0.0297 - accuracy: 0.9949 - val_loss: 0.8322 - val_accuracy: 0.6990
Epoch 43/50
7/7 [==============================] - 0s 35ms/step - loss: 0.0256 - accuracy: 0.9949 - val_loss: 0.8491 - val_accuracy: 0.6990
Epoch 44/50
7/7 [==============================] - 0s 30ms/step - loss: 0.0221 - accuracy: 0.9974 - val_loss: 0.8603 - val_accuracy: 0.7041
Epoch 45/50
7/7 [==============================] - 0s 34ms/step - loss: 0.0198 - accuracy: 0.9974 - val_loss: 0.8720 - val_accuracy: 0.7041
Epoch 46/50
7/7 [==============================] - 0s 32ms/step - loss: 0.0180 - accuracy: 0.9974 - val_loss: 0.8885 - val_accuracy: 0.7041
Epoch 47/50
7/7 [==============================] - 0s 33ms/step - loss: 0.0164 - accuracy: 0.9974 - val_loss: 0.9074 - val_accuracy: 0.7041
Epoch 48/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0151 - accuracy: 0.9974 - val_loss: 0.9222 - val_accuracy: 0.7041
Epoch 49/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0139 - accuracy: 0.9974 - val_loss: 0.9400 - val_accuracy: 0.7041
Epoch 50/50
7/7 [==============================] - 0s 31ms/step - loss: 0.0129 - accuracy: 0.9974 - val_loss: 0.9541 - val_accuracy: 0.7041

In [ ]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import EditedNearestNeighbours
from imblearn.combine import SMOTETomek

In [ ]:
sm = SMOTE()

X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

In [ ]:
from collections import Counter
Counter(y_train_res)

Counter({0: 398, 1: 398})