<a href="https://colab.research.google.com/github/davidclizbe/datascience/blob/master/Clizbe_PCA_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE, SelectKBest

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE, SelectKBest

In [ ]:
data = pd.read_csv('https://docs.google.com/spreadsheets/d/1pmBtSw7v_tU_dIX1-4E8_Q7wC43fDs6LGDQzN49-ffk/export?format=csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79931 entries, 0 to 79930
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameString          79931 non-null  object
 1   gameDate            79931 non-null  object
 2   visitor             79931 non-null  object
 3   home                79931 non-null  object
 4   inning              79931 non-null  int64
 5   side                79931 non-null  object
 6   balls               79931 non-null  int64
 7   strikes             79931 non-null  int64
 8   outs                79931 non-null  int64
 9   batterId            79931 non-null  int64
 10  batterName          79931 non-null  object
 11  batterHand          79931 non-null  object
 12  batterPosition      79931 non-null  object
 13  pitcherId           79931 non-null  int64
 14  pitcherName         79931 non-null  object
 15  pitcherHand         79931 non-null  object
 16  timesFaced          79931 non-null  int64
 17  catcherId           79931 non-null  int64
 18  catcher             79931 non-null  object
 19  umpireId            79931 non-null  int64
 20  umpire              79931 non-null  object
 21  probCalledStrike    79921 non-null  float64
 22  pitchResult         79931 non-null  object
 23  pitchType           79931 non-null  object
 24  releaseVelocity     79931 non-null  float64
 25  spinRate            73734 non-null  float64
 26  spinDir             79620 non-null  float64
 27  locationHoriz       79931 non-null  float64
 28  locationVert        79931 non-null  float64
 29  movementHoriz       79931 non-null  float64
 30  movementVert        79931 non-null  float64
 31  battedBallType      14499 non-null  object
 32  battedBallAngle     14499 non-null  float64
 33  battedBallDistance  14499 non-null  float64
 34  paResult            20591 non-null  object
dtypes: float64(10), int64(9), object(16)
memory usage: 21.3+ MB

In [ ]:
data.head()

                       gameString    gameDate  ... battedBallDistance paResult
0  gid_2016_04_04_sfnmlb_milmlb_1  2016-04-04  ...                NaN      NaN
1  gid_2016_04_04_sfnmlb_milmlb_1  2016-04-04  ...                NaN      NaN
2  gid_2016_04_04_sfnmlb_milmlb_1  2016-04-04  ...             323.03   IP_OUT
3  gid_2016_04_04_sfnmlb_milmlb_1  2016-04-04  ...                NaN      NaN
4  gid_2016_04_04_sfnmlb_milmlb_1  2016-04-04  ...                NaN      NaN

[5 rows x 35 columns]

In [ ]:
numeric_cols = [col for col in data.columns if data[col].dtypes != 'O']

In [ ]:
numeric_cols

['inning',
 'balls',
 'strikes',
 'outs',
 'batterId',
 'pitcherId',
 'timesFaced',
 'catcherId',
 'umpireId',
 'probCalledStrike',
 'releaseVelocity',
 'spinRate',
 'spinDir',
 'locationHoriz',
 'locationVert',
 'movementHoriz',
 'movementVert',
 'battedBallAngle',
 'battedBallDistance']

In [ ]:
num_df = data[numeric_cols]
num_df = num_df.dropna().copy()
X = num_df.drop('releaseVelocity', axis=1)
Y = num_df['releaseVelocity']

X_train, X_test, Y_train, Y_test = train_test_split(X,Y)

In [ ]:
scale = StandardScaler()
scaled_train = scale.fit(X_train)
scaled_test = scale.fit(X_test)
transformed_train = scaled.transform(X_train)
transformed_test = scaled.transform(X_test)

In [ ]:
pca_x = PCA().fit(transformed_train)
tformed = pca_x.transform(transformed_train)
pca_x_test = pca_x.transform(transformed_test)

In [ ]:
svr = SVR().fit(tformed, Y_train)

In [ ]:
svr.score(tformed, Y_train)

0.6726232928924929

In [ ]:
svr.score(pca_x_test, Y_test)

0.6270674555459737