<a href="https://colab.research.google.com/github/davidclizbe/datascience/blob/master/ClizbeModule14Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
# from matplotlib.mlab import PCA as mlabPCA # deprecated
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')
sns.set_style("whitegrid")

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'lifeexpectancy'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

lifeexpectancy = pd.read_sql_query('select * from lifeexpectancy',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [ ]:
lifeexpectancy.head()

       Country  Year  ... Income composition of resources  Schooling
0  Afghanistan  2015  ...                           0.479       10.1
1  Afghanistan  2014  ...                           0.476       10.0
2  Afghanistan  2013  ...                           0.470        9.9
3  Afghanistan  2012  ...                           0.463        9.8
4  Afghanistan  2011  ...                           0.454        9.5

[5 rows x 22 columns]

In [ ]:
lifeexpectancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [ ]:
lifeexpectancy.dropna(inplace=True)
lifeexpectancy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1649 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          1649 non-null   object
 1   Year                             1649 non-null   int64
 2   Status                           1649 non-null   object
 3   Life expectancy                  1649 non-null   float64
 4   Adult Mortality                  1649 non-null   float64
 5   infant deaths                    1649 non-null   int64
 6   Alcohol                          1649 non-null   float64
 7   percentage expenditure           1649 non-null   float64
 8   Hepatitis B                      1649 non-null   float64
 9   Measles                          1649 non-null   int64
 10   BMI                             1649 non-null   float64
 11  under-five deaths                1649 non-null   int64
 12  Polio                            1649 non-null   float64
 13  Total expenditure                1649 non-null   float64
 14  Diphtheria                       1649 non-null   float64
 15   HIV/AIDS                        1649 non-null   float64
 16  GDP                              1649 non-null   float64
 17  Population                       1649 non-null   float64
 18   thinness  1-19 years            1649 non-null   float64
 19   thinness 5-9 years              1649 non-null   float64
 20  Income composition of resources  1649 non-null   float64
 21  Schooling                        1649 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 296.3+ KB

In [ ]:
lifeexpectancy.describe()

              Year  ...    Schooling
count  1649.000000  ...  1649.000000
mean   2007.840509  ...    12.119891
std       4.087711  ...     2.795388
min    2000.000000  ...     4.200000
25%    2005.000000  ...    10.300000
50%    2008.000000  ...    12.300000
75%    2011.000000  ...    14.000000
max    2015.000000  ...    20.700000

[8 rows x 20 columns]

Explore the data using univariate and multivariate exploration techniques. You should pay special attention to your target variable. In this regard, your focus should be on finding the relevant variables that may affect life expectancy.

In [ ]:
lifeexpectancy.corr()

                                     Year  ...  Schooling
Year                             1.000000  ...   0.088732
Life expectancy                  0.050771  ...   0.727630
Adult Mortality                 -0.037092  ...  -0.421171
infant deaths                    0.008029  ...  -0.214372
Alcohol                         -0.113365  ...   0.616975
percentage expenditure           0.069553  ...   0.422088
Hepatitis B                      0.114897  ...   0.215182
Measles                         -0.053822  ...  -0.115660
 BMI                             0.005739  ...   0.554844
under-five deaths                0.010479  ...  -0.226013
Polio                           -0.016699  ...   0.350147
Total expenditure                0.059493  ...   0.243783
Diphtheria                       0.029641  ...   0.350398
 HIV/AIDS                       -0.123405  ...  -0.211840
GDP                              0.096421  ...   0.467947
Population                       0.012567  ...  -0.040312
 thinness  1-19 years            0.019757  ...  -0.491199
 thinness 5-9 years              0.014122  ...  -0.472482
Income composition of resources  0.122892  ...   0.784741
Schooling                        0.088732  ...   1.000000

[20 rows x 20 columns]

In the feature engineering step, you need to select a suite of variables that you think would be ideal in the modeling phase. More concretely, you may discard some variables that are very correlated with the other ones or the variables that you think irrelevant with the life expectancy.

In [ ]:
pd.get_dummies(lifeexpectancy)

      Year  Life expectancy   ...  Status_Developed  Status_Developing
0     2015              65.0  ...                 0                  1
1     2014              59.9  ...                 0                  1
2     2013              59.9  ...                 0                  1
3     2012              59.5  ...                 0                  1
4     2011              59.2  ...                 0                  1
...    ...               ...  ...               ...                ...
2933  2004              44.3  ...                 0                  1
2934  2003              44.5  ...                 0                  1
2935  2002              44.8  ...                 0                  1
2936  2001              45.3  ...                 0                  1
2937  2000              46.0  ...                 0                  1

[1649 rows x 155 columns]

Summarize your findings. One of the most important skills of a data scientist is to convey ideas and findings to nontechnical people using understandable language. In this regard, one of the most effective ways to communicate your ideas is to do it using effective visualization.

In [ ]:
y = lifeexpectancy['Life expectancy']
X = lifeexpectancy.drop(['Life expectancy'], axis = 1)
y.head()

KeyError: ignored

In [ ]:
X.head()