<a href="https://colab.research.google.com/github/davidclizbe/datascience/blob/master/ClizbeRandomForestChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

houseprices = pd.read_sql_query('select * from houseprices',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [ ]:
houseprices

        id  mssubclass mszoning  ...  saletype  salecondition saleprice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

In [ ]:
housedata = houseprices[['saleprice', 'lotarea', 'overallqual', 'overallcond', 'yearbuilt', 'yearremodadd']]
housedata.head()

   saleprice  lotarea  overallqual  overallcond  yearbuilt  yearremodadd
0     208500     8450            7            5       2003          2003
1     181500     9600            6            8       1976          1976
2     223500    11250            7            5       2001          2002
3     140000     9550            7            5       1915          1970
4     250000    14260            8            5       2000          2000

In [ ]:
y = housedata['saleprice']

X = housedata.drop('saleprice', axis=1)
X.head()

   lotarea  overallqual  overallcond  yearbuilt  yearremodadd
0     8450            7            5       2003          2003
1     9600            6            8       1976          1976
2    11250            7            5       2001          2002
3     9550            7            5       1915          1970
4    14260            8            5       2000          2000

In [ ]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: saleprice, dtype: int64

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train.head()

      lotarea  overallqual  overallcond  yearbuilt  yearremodadd
1298    63887           10            5       2008          2008
1136     9600            6            5       1950          1950
244     10762            6            6       1980          1980
583     13500           10            9       1893          2000
27      11478            8            5       2007          2008

In [ ]:
y_train.head()

1298    160000
1136    119000
244     120000
583     325000
27      306000
Name: saleprice, dtype: int64

In [ ]:
%%time
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(max_depth=10, random_state=0)
rfr.fit(X_train, y_train)

CPU times: user 315 ms, sys: 3.04 ms, total: 318 ms
Wall time: 321 ms

In [ ]:
rfr.score(X_train,y_train)

0.9384731953080224

In [ ]:
rfr.score(X_test,y_test)

0.7722762086858646

In [ ]:
%%time
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=10, random_state=0)
clf = clf.fit(X_train, y_train)

CPU times: user 32.9 ms, sys: 7.01 ms, total: 39.9 ms
Wall time: 45.6 ms