<a href="https://colab.research.google.com/github/davidclizbe/datascience/blob/master/ClizbeWeatherRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'weatherinszeged'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

weatherinszeged = pd.read_sql_query('select * from weatherinszeged',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [ ]:
weatherinszeged

                           date  ...                            dailysummary
0     2006-03-31 22:00:00+00:00  ...       Partly cloudy throughout the day.
1     2006-03-31 23:00:00+00:00  ...       Partly cloudy throughout the day.
2     2006-04-01 00:00:00+00:00  ...       Partly cloudy throughout the day.
3     2006-04-01 01:00:00+00:00  ...       Partly cloudy throughout the day.
4     2006-04-01 02:00:00+00:00  ...       Partly cloudy throughout the day.
...                         ...  ...                                     ...
96448 2016-09-09 17:00:00+00:00  ...  Partly cloudy starting in the morning.
96449 2016-09-09 18:00:00+00:00  ...  Partly cloudy starting in the morning.
96450 2016-09-09 19:00:00+00:00  ...  Partly cloudy starting in the morning.
96451 2016-09-09 20:00:00+00:00  ...  Partly cloudy starting in the morning.
96452 2016-09-09 21:00:00+00:00  ...  Partly cloudy starting in the morning.

[96453 rows x 12 columns]

In [ ]:
weatherinszeged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 96453 non-null  datetime64[ns, UTC]
 1   summary              96453 non-null  object
 2   preciptype           96453 non-null  object
 3   temperature          96453 non-null  float64
 4   apparenttemperature  96453 non-null  float64
 5   humidity             96453 non-null  float64
 6   windspeed            96453 non-null  float64
 7   windbearing          96453 non-null  float64
 8   visibility           96453 non-null  float64
 9   loudcover            96453 non-null  float64
 10  pressure             96453 non-null  float64
 11  dailysummary         96453 non-null  object
dtypes: datetime64[ns, UTC](1), float64(8), object(3)
memory usage: 8.8+ MB

In [ ]:
weatherinszeged.describe()

        temperature  apparenttemperature  ...  loudcover      pressure
count  96453.000000         96453.000000  ...    96453.0  96453.000000
mean      11.932678            10.855029  ...        0.0   1003.235956
std        9.551546            10.696847  ...        0.0    116.969906
min      -21.822222           -27.716667  ...        0.0      0.000000
25%        4.688889             2.311111  ...        0.0   1011.900000
50%       12.000000            12.000000  ...        0.0   1016.450000
75%       18.838889            18.838889  ...        0.0   1021.090000
max       39.905556            39.344444  ...        0.0   1046.380000

[8 rows x 8 columns]

In [ ]:
weatherinszeged.corr()

                     temperature  apparenttemperature  ...  loudcover  pressure
temperature             1.000000             0.992629  ...        NaN -0.005447
apparenttemperature     0.992629             1.000000  ...        NaN -0.000219
humidity               -0.632255            -0.602571  ...        NaN  0.005454
windspeed               0.008957            -0.056650  ...        NaN -0.049263
windbearing             0.029988             0.029031  ...        NaN -0.011651
visibility              0.392847             0.381718  ...        NaN  0.059818
loudcover                    NaN                  NaN  ...        NaN       NaN
pressure               -0.005447            -0.000219  ...        NaN  1.000000

[8 rows x 8 columns]

In [ ]:
weather = pd.get_dummies(weatherinszeged, dummy_na=True)
weather.head()

                       date  ...  dailysummary_nan
0 2006-03-31 22:00:00+00:00  ...                 0
1 2006-03-31 23:00:00+00:00  ...                 0
2 2006-04-01 00:00:00+00:00  ...                 0
3 2006-04-01 01:00:00+00:00  ...                 0
4 2006-04-01 02:00:00+00:00  ...                 0

[5 rows x 256 columns]

In [ ]:
weather.dropna(inplace=True)
weather.head()

                       date  ...  dailysummary_nan
0 2006-03-31 22:00:00+00:00  ...                 0
1 2006-03-31 23:00:00+00:00  ...                 0
2 2006-04-01 00:00:00+00:00  ...                 0
3 2006-04-01 01:00:00+00:00  ...                 0
4 2006-04-01 02:00:00+00:00  ...                 0

[5 rows x 256 columns]

In [ ]:
y = weather['temperature']
y.head()

0    9.472222
1    9.355556
2    9.377778
3    8.288889
4    8.755556
Name: temperature, dtype: float64

In [ ]:
X = weather.drop(['temperature'], axis= 1)
X.head()

                       date  ...  dailysummary_nan
0 2006-03-31 22:00:00+00:00  ...                 0
1 2006-03-31 23:00:00+00:00  ...                 0
2 2006-04-01 00:00:00+00:00  ...                 0
3 2006-04-01 01:00:00+00:00  ...                 0
4 2006-04-01 02:00:00+00:00  ...                 0

[5 rows x 255 columns]

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train.head()

                           date  ...  dailysummary_nan
72148 2014-12-03 03:00:00+00:00  ...                 0
90032 2016-02-15 10:00:00+00:00  ...                 0
26112 2008-09-28 22:00:00+00:00  ...                 0
14243 2007-03-23 10:00:00+00:00  ...                 0
77180 2014-11-26 23:00:00+00:00  ...                 0

[5 rows x 255 columns]

In [ ]:
import statsmodels.api as sm
import numpy as np

model = sm.OLS(y_train,X_train)
results = model.fit()
results.params

ValueError: ignored