<a href="https://colab.research.google.com/github/davidclizbe/datascience/blob/master/ClizbeModelComparisonChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

houseprices = pd.read_sql_query('select * from houseprices',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [ ]:
houseprices

        id  mssubclass mszoning  ...  saletype  salecondition saleprice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

In [ ]:
housedata = houseprices[['saleprice', 'lotarea', 'overallqual', 'overallcond', 'yearbuilt', 'yearremodadd']]
housedata.head()

   saleprice  lotarea  overallqual  overallcond  yearbuilt  yearremodadd
0     208500     8450            7            5       2003          2003
1     181500     9600            6            8       1976          1976
2     223500    11250            7            5       2001          2002
3     140000     9550            7            5       1915          1970
4     250000    14260            8            5       2000          2000

In [ ]:
y = housedata['saleprice']

X = housedata.drop('saleprice', axis=1)
X.head()

   lotarea  overallqual  overallcond  yearbuilt  yearremodadd
0     8450            7            5       2003          2003
1     9600            6            8       1976          1976
2    11250            7            5       2001          2002
3     9550            7            5       1915          1970
4    14260            8            5       2000          2000

In [ ]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: saleprice, dtype: int64

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train.head()

      lotarea  overallqual  overallcond  yearbuilt  yearremodadd
576      6292            7            7       1928          1950
40       8658            6            5       1965          1965
193      9017            7            5       1999          1999
748     10593            7            5       1996          1996
1139     8731            5            5       1920          1950

Find a data set and build a KNN Regression

In [ ]:
from sklearn import neighbors

knn = neighbors.KNeighborsRegressor(n_neighbors=10) 
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                    weights='uniform')

In [ ]:
knn.score(X_train, y_train)

0.4095712747233178

In [ ]:
knn.score(X_test, y_test)

0.3380314156672367

and an OLS regression.

In [ ]:
import statsmodels.api as sm
import numpy as np

model = sm.OLS(y_train,X_train)
results = model.fit()
results.params

lotarea             2.111625
overallqual     44573.736668
overallcond      1068.511823
yearbuilt         136.286905
yearremodadd     -194.797073
dtype: float64

In [ ]:
results.tvalues

lotarea         11.105845
overallqual     41.522907
overallcond      0.726336
yearbuilt        1.970911
yearremodadd    -2.769313
dtype: float64

In [ ]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:              saleprice   R-squared (uncentered):                   0.944
Model:                            OLS   Adj. R-squared (uncentered):              0.944
Method:                 Least Squares   F-statistic:                              3902.
Date:                Wed, 24 Jun 2020   Prob (F-statistic):                        0.00
Time:                        03:58:41   Log-Likelihood:                         -14236.
No. Observations:                1168   AIC:                                  2.848e+04
Df Residuals:                    1163   BIC:                                  2.851e+04
Df Model:                           5
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
lotarea          2.1116      0.190     11.106      0.000       1.739       2.485
overallqual   4.457e+04   1073.473     41.523      0.000    4.25e+04    4.67e+04
overallcond   1068.5118   1471.099      0.726      0.468   -1817.794    3954.818
yearbuilt      136.2869     69.149      1.971      0.049       0.616     271.958
yearremodadd  -194.7971     70.341     -2.769      0.006    -332.807     -56.787
==============================================================================
Omnibus:                      427.625   Durbin-Watson:                   2.044
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6203.668
Skew:                           1.280   Prob(JB):                         0.00
Kurtosis:                      13.996   Cond. No.                     1.37e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.37e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Create a Jupyter notebook with your models. At the end in a markdown cell write a few paragraphs to describe the models' behaviors and why you favor one model or the other. Try to determine whether there is a situation where you would change your mind, or whether one is unambiguously better than the other. Lastly, try to note what it is about the data that causes the better model to outperform the weaker model. Submit a link to your notebook below.

Use the OLS regression style over the KNN regression style model. This is less overfit and more accurate.